html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 1em;
  background: #111;
  color: #fff;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.outer {
  display: table;
  width: 100%;
  height: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  padding:20px;
}

a {
  color: orange;
  text-decoration: none;
}
img {
  border: 0;
  vertical-align: middle;
}
h1 {
  line-height: 1em;
}

div.row {
  display:flex;
  width:100%;
  margin-bottom: 10px;
}
textarea,
input {
  font-size:1em;
  color:#666;
  display: inline-block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  margin: 0;
  background-color: #222;
  border: 2px solid #444;
  border-right:inherit;
  border-radius: 10px 0 0 10px;
  outline:0;
  width:100%;
  height:42px;
  vertical-align: middle;
}


button#hideAndShow {
  background-color: #222;
  border: 2px solid #444;
  color:#666;
  display:inline-block;
  width:40px;
  height:42px;
  border-radius: 0 10px 10px 0;
  vertical-align: middle;
}

button#generate {
  font-weight: bold;
  background-color: #161616;
  border: 2px solid #444;
  color:#666;
  width:100%;
  cursor: pointer;

}
button#generate:hover {
  background-color: #111;

}

button {
  padding:10px;
  border-radius: 5px;
  outline:0;
}

button.hiding span.show {
  display:none;
}

button.showing span.hide {
  display:none;
}

span#copied {
  display:none;
  color: green;
  padding:5px 8px;
}

@media (min-width: 481px) {
  .navigation {
    list-style: none;
    padding: 0;
  }
  .navigation li {
    display: inline-block;
  }
  .navigation li:not(:first-child):before {
    content: '| ';
  }
}

/* IE7 fixes */
*+html textarea,
*+html input {
  width: 460px;
}
